// TODO: style 포맷팅
@mixin default {
  border: 0;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;

  &:disabled {
    pointer-events: none;
  }
}

@each $name, $color in (primary, #BC7FCD), (secondary, #FB9AD1), (danger, #FA7070) {
  .#{$name} {
    @include default;
    background-color: $color;
    &:hover {
      background-color: lighten($color, 10%);
    }
  }
}